.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,  #2980b9, #2c3e50);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2980b9, #2c3e50);
    }
    .home{
       color:#2980b9;
       font-size: 15px;
       
    }
    .btn-login{
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px;
        border: 2px solid #fff;
        color: #fff;
    }


    .btn-login:hover{
        background: #2980b9;
        border: 2px solid #2980b9;
    }

    .error-message{
        color: red;
        font-size: 13px;
    }

    @media (min-width: 868px) {
    .gradient-form {
    height: 130vh !important;
    }
    }
    