<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>LandingPage</title>
  </head>
  <body>
    
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Tailwagger</h1>
      <h2>Focused on rehoming animals to appropriate and loving homes since 2000.</h2>
      <a href="/owner?type=owner" class="btn-get-started scrollto">To Pet Owner Login</a>
      <a href="/employee?type=employee" class="btn-get-started scrollto">To Employee Login</a>
    </div>
  </section>
  </body>
</html>
