<!--
 * Author: Manlin Mao
 * Date: 2023-12-06
 *
 * File: login.html
 *
 * Additional context:
 * This HTML file represents the login page for the application, providing separate sections for pet owners and employees.
 * The page includes forms for user login, capturing user ID and password. Conditional rendering is used to display the
 * appropriate section based on the "isOwner" variable, which determines whether the user is a pet owner or an employee.
 *
 * For pet owners, the form is associated with the "/login?type=owner" endpoint, and a registration link is provided.
 * Error messages are displayed if authentication fails, enhancing the user experience. The form for employees is associated
 * with the "/login?type=employee" endpoint.
 *
 * This login page is an integral part of the user authentication and authorization process, providing a user-friendly
 * interface for logging in as either a pet owner or an employee.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:if="${isOwner}">
      <h1>Pet Owner Login Page</h1>
      <h2>Login</h2>
      <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
      </div>
      <form action="/login?type=owner" method="post" th:object="${petOwner}">
        <label>User Id</label>
        <input type="text" name="userId" required />
        <br />
        <label>Password</label>
        <input
          type="password"
          name="password"
          th:field="*{password}"
          required
        />
        <button>Login</button>
        <a href="/register">Register</a>
      </form>
    </div>

    <div th:unless="${isOwner}">
      <h1>Employee Login Page</h1>
      <h2>Login</h2>
      <form action="/login?type=employee" method="post" th:object="${employee}">
        <label>User Id</label>
        <input type="text" name="userId" required />
        <br />
        <label>Password</label>
        <input
          type="password"
          name="password"
          th:field="*{password}"
          required
        />
        <br />
        <button>Login</button>
      </form>
    </div>
  </body>
</html>
