<!--
 * Author: Manlin Mao
 * Date: 2023-12-06
 *
 * File: registrationForm.html
 *
 * Additional context:
 * This HTML file represents the registration form for new pet owners in the application. It includes input fields
 * for user ID, first name, last name, password, and email. The form is associated with the "/register" endpoint,
 * and Thymeleaf expressions are used for dynamic content, such as error messages and form bindings.
 *
 * The page also provides a link to go back to the pet owner login page.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/e051e7d903.js" crossorigin="anonymous"></script>
    <title>Register</title>
  </head>
  <body>
  
    

  <section class=" gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <a href="/" class="home"><i class="fa-sharp fa-solid fa-house"></i>Home</a>
                  <div class="text-center">
                    <img src="https://media.istockphoto.com/id/1445196818/photo/group-of-cute-pets-on-white-background-banner-design.webp?b=1&s=170667a&w=0&k=20&c=iQ527QsrVbpECw-3b8GQVw0YD5FhBoorJzFPYQSw_40="
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Register Account</h4>
                  </div>
  
                  <form action="/register" method="POST" th:object="${petOwner}">
  
                    <div class="form-outline mb-4">
                      <label for="userId">User ID</label>
                      <input type="text" name="userId" th:field="*{userId}" class="form-control" required />   
                    </div>
  
                    <div class="form-outline mb-4">
                      <label for="firstName">First Name</label>
                      <input type="text" name="firstName" th:field="*{firstName}" class="form-control" required />
                    </div>
  
                    <div class="form-outline mb-4">
                      <label for="lastName">Last Name</label>
                      <input type="text" name="lastName" th:field="*{lastName}" class="form-control" required />
                    </div>
                    <div class="form-outline mb-4">
                      <label for="password">Password</label>
      <input type="text" name="password" th:field="*{password}" class="form-control" required />
                    </div>
                    <div class="form-outline mb-4">
                      <label for="email">Email</label>
                      <input type="text" name="email" th:field="*{email}" class="form-control" required />
                    </div>

                    <div class="form-outline mb-4">
                        <button class=" btn-login btn-block  gradient-custom-2 mb-3" >Register</button>
                    </div>
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Instructions for register:</h4>
                  <p class="small mb-0">Please enter all fields, and login as manager to approve the user you just registered.</p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- <form action="/register" method="POST" th:object="${petOwner}">
      <label for="userId">User ID</label>
      <input type="text" name="userId" th:field="*{userId}" required />
      <br />

      <label for="firstName">First Name</label>
      <input type="text" name="firstName" th:field="*{firstName}" required />
      <br />

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" th:field="*{lastName}" required />
      <br />
      <label for="password">Password</label>
      <input type="text" name="password" th:field="*{password}" required />
      <br />
      <label for="email">Email</label>
      <input type="text" name="email" th:field="*{email}" required />
      <br />
      <button>Register</button>
      <a href="/owner?type=owner">Back to login</a>
    </form> -->
  </body>
</html>
