<!--
 * Author: Manlin Mao
 * Date: 2023-12-06
 *
 * File: registrationForm.html
 *
 * Additional context:
 * This HTML file represents the registration form for new pet owners in the application. It includes input fields
 * for user ID, first name, last name, password, and email. The form is associated with the "/register" endpoint,
 * and Thymeleaf expressions are used for dynamic content, such as error messages and form bindings.
 *
 * The page also provides a link to go back to the pet owner login page.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:if="${error}" class="error-message">
      <p th:text="${error}"></p>
    </div>
    <form action="/register" method="POST" th:object="${petOwner}">
      <label for="userId">User ID</label>
      <input type="text" name="userId" th:field="*{userId}" required />
      <br />

      <label for="firstName">First Name</label>
      <input type="text" name="firstName" th:field="*{firstName}" required />
      <br />

      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" th:field="*{lastName}" required />
      <br />
      <label for="password">Password</label>
      <input type="text" name="password" th:field="*{password}" required />
      <br />
      <label for="email">Email</label>
      <input type="text" name="email" th:field="*{email}" required />
      <br />
      <button>Register</button>
      <a href="/owner?type=owner">Back to login</a>
    </form>
  </body>
</html>
