<!--
 * Author: Manlin Mao
 * Date: 2023-12-06
 *
 * File: registrationSuccess.html
 *
 * Additional context:
 * This HTML file represents the page displayed to users upon successful registration in the application.
 * It includes a confirmation message and instructs users to wait for approval. The page also provides a
 * link to go back to the login page.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Successfully registered!</h1>
    <p>Please wait for approval...</p>
    <a href="/">Back to login</a>
  </body>
</html>
