<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/employee.css}" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://kit.fontawesome.com/e051e7d903.js" crossorigin="anonymous"></script>
    <title>Staff-Update</title>
</head>

<body>
    <h1>
        Update Pets Page<a href="/showAllPets" class="home"><i class="fa-sharp fa-solid fa-house"></i>Home</a>
    </h1>
    <div class="row">
        <!-- First Column -->
        <div class="col-md-3 ml-2">
            <div class="border">
                <h3>Find Pet</h3>
                <form action="/find-pet" method="get" th:object="${found}">
                    <div class="form-outline mb-4">
                        <label>Pet Name</label>
                        <input type="text" name="petName" id="petName" class="form-control" />
                    </div>

                    <button class="btn-list gradient-custom-2 mb-3">Search</button>
                </form>
            </div>
        </div>

        <!-- <p th:text="${pet.petName}"></p> -->
        <!-- Second Column -->
        <div class="col-md-3">
            <div class="border">
                <h3>Update Pet Information</h3>
                <form action="/update-pet" method="post" th:object="${found}">

                    <div class="form-outline mb-4">
                        <label>Pet ID</label>
                        <input type="text" name="id" th:field="*{id}" class="form-control" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label>Pet Name</label>
                        <input type="text" name="petName" th:field="*{petName}" class="form-control" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label>Pet Species</label>
                        <input type="text" name="petSpecies" th:field="*{petSpecies}" class="form-control" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label>Pet Color</label>
                        <input type="text" name="petColor" th:field="*{petColor}" class="form-control" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label>Pet Size</label>
                        <input type="text" name="petSize" th:field="*{petSize}" class="form-control" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label>Adoption Status</label>
                        <select name="adoptStatus" id="adoptStatus" class="form-control" required>
                            <option value="available" text="available"> available </option>
                            <option value="pending" text="pending"> pending </option>
                            <option value="adopted" text="adopted"> adopted </option>
                        </select>
                        <!-- <input type="text" name="adoptStatus" th:field="*{adoptStatus}" class="form-control" required /> -->
                    </div>
                    <div class="form-outline mb-4">
                        <p th:text="'Responsive Staff: ' + ${StaffInCharge}"></p>
                        <input type="text" id="staffId" name="staffId" th:value="${StaffInCharge}" class="form-control"
                            readonly />
                    </div>
            </div>
        </div>
        <!-- Third Column -->
        <div class="col-md-3">
            <div class="border">
                <h4 th:text="'Please select ' + ${currentOwner} + ' as pet owner, if owner is not changed.'"></h4>
                <div class="form-outline mb-4">
                    <label>Pet Owner</label>
                    <select id="ownerId" name="ownerId" class="form-control">
                        <option value="">-</option>
                        <option th:each="owner: ${ownerAll}" th:value="${owner.userId}" th:text="${owner.userId}">
                        </option>
                    </select>
                </div>
                <button class="btn-list gradient-custom-2 mb-3">Update</button>
                </form>

            </div>
        </div>
    </div>
</body>

</html>